# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Google Cloud
GCP_PROJECT_ID=
GCP_DATASET=
GOOGLE_APPLICATION_CREDENTIALS=

# Google Pub/Sub
PUBSUB_TOPIC_ID=
PUBSUB_SUBSCRIPTION_ID=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=