# PostgreSQL
POSTGRES_HOST= "UR HOST"
POSTGRES_PORT= "UR PORT"
POSTGRES_DB= "UR DB"
POSTGRES_USER= "UR USER"
POSTGRES_PASSWORD= "UR PASSWORD"

# Google Cloud
GCP_PROJECT_ID= "GCP ID"
GCP_DATASET= "GCP Dataset"
GOOGLE_APPLICATION_CREDENTIALS= "CREDENTIAL LIKE SERVICE ACCOUNT"

# Google Pub/Sub
PUBSUB_TOPIC_ID= "TOPIC ID"
PUBSUB_SUBSCRIPTION_ID= "SUB ID"
# Telegram
TELEGRAM_BOT_TOKEN= "TOKEN BOT TELEGRAM"
TELEGRAM_CHAT_ID= "ID CHAT GROUP/CHANNEL"